$large-font: 36px;
$big-font: 18px;
$medium-font: 16px;
$small-font: 13px;
$text-font: 12px;

$background: #f8f8f8;
$sidebar-bg: #2b2e3d;
$sidebar-border: #9d9ea5;
$sidebar-fg: #fff;
$sidebar-fg-2nd: #808080;
$card-bg: #fff;
$card-shadow: rgba(0, 0, 0, 0.5);
$foreground: #2b2f3e;
$selection-fg: #fff;

$selected-border: #ff305a;
$del-btn: #ff305a;
$del-btn-hov: #ff305a;
$del-btn-hov-fg: #fff;
$input-border: #cccccc;
$input-border-acttive: #27ccc0;
$item-border: #f5f5f5;
$count-bg: #27ccc0;
$count-fg: #fff;
$btn-bg: #27ccc0;
$btn-bg-h: #23b4ab;
$btn-fg: #fff;
$title-fg: #565a69;
$avatar-default-bg: #e6e6e6;
$avatar-odd-bg: #ff8900;
$avatar-even-bg: #46558b;
$comment-fg: #666666;

